* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px; 
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 20px; 


}

a {
    color: #3A3A3A; 
    text-decoration: none; 
}

p {
    padding-top: 12px; 
    padding-bottom: 12px; 
}


/* ------ Hilfsklassen ------*/

.standard-container {
    max-width: 1080px;
    margin: 0 auto;
}

.text-highlighted {
    color: coral; 
}

.btn {
    display: block;
    font-size: 20px;
    background-color: #3A3A3A;
    color: coral; 
    padding: 10px 15px; 
    text-align: center; 
    border-radius: 5px; 
    margin: 15px 0px; 
}

.btn:hover {
    background-color: coral;
    color: white;
}

/* ------ Navigationsleiste ------*/

#main-nav {
    background-color: #3A3A3A;
}

#main-nav:after {
    content: "";
    display: block; 
    clear: both; 
}

#main-nav h1 {
    float: left; 
    color: coral;
    padding-top: 20px; 
}

#main-nav a{
    color: white;
}

#main-nav ul {
    float: right;
    list-style: none;
}

#main-nav ul li {
    float: left; 
}

#main-nav ul li a {
    display: block;
    font-size: 24px;
    padding: 20px; 
    text-align: center;

}

#main-nav ul li a.active-page {
    background-color: coral;
    columns: white;
}

#main-nav ul li a:hover {
    background-color: coral;
    columns: white;
}

/* ------ Willkommens Sektion ------*/

#welcome {
    background-image: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.06)), url(../img/Banner_Light.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    min-height: 500px;
}

#welcome:after {
    content:"";
    display: block; 
    clear: both; 
}

#welcome .welcome-content {
    float: right;
    width: 70%;
    color: white;
    padding: 130px 50px ;
}

#welcome .welcome-img {
    float: left;
    width: 30%; 
    padding-top: 40px; 
}

#welcome .welcome-img img {
  width: 100%; 
   border-radius: 50%; 
}
  

#welcome .welcome-content {
    font-size: 20px;
}

/* ------ About Sektion ------*/

#about {
    background-color: #3A3A3A;
    padding-top: 50px; 
    padding-bottom: 50px; 
}

#about:after {
    content:"";
    display: block; 
    clear: both; 
}

#about .about-content {
    float: left;
    width: 70%; 
    color: white; 
    padding: 20px; 
}

#about .about-img {
    float: left; 
    width: 30%;
    padding: 20px; 

}

#about .about-img img {
    width: 100%;
    border-radius: 10px; 
}

#about .about-content h2 {
    font-size: 40px; 
}

/* ------ Skill Sektion ------*/

#skills {
    padding-top: 40px; 
    padding-bottom: 40px; 
}

#skills:after {
    content:"";
    display: block; 
    clear: both;  
}

#skills .skill {
    float: left;
    width: 33.33%;
    text-align: center;
    padding: 35px;
}

#skills .material-symbols-outlined {
    font-size: 100px; 
    color: coral; 
}

/* ------ Contact Heading Sektion ------*/

#contact-heading {
    background-image: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.06)), url(../img/Banner_Light.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    min-height: 500px;
}

#contact-heading .heading-content {
    color: white;
    padding: 130px 0px; 
}

#contact-heading .heading-content h2 {
    font-size: 40px; 
}

#contact-heading .heading-content p {
    font-size: 20px; 
}

/* ------ Contact Options Sektion ------*/

#contact-options {
    margin-top: -150px; 
    padding-bottom: 100px; 
}


#contact-options:after {
    content:"";
    display: block;
    clear: both;
}

#contact-options .contact-option {
    float: left; 
    width: 48%; 
    margin: 1%; 
    text-align: center; 
    padding: 35px; 
    background-color: #3A3A3A;
    min-height: 300px; 
    border-radius: 10px; 

}

#contact-options .contact-option h3 {
    font-size: 25px; 
    color: coral; 
    padding-top: 15px; 
}

#contact-options .contact-option p {
    color: white;
    line-height: 1.7em;
}

#contact-options .material-symbols-outlined {
    font-size: 50px; 
    color: white; 
}

/* ------ Datenschutz ------*/

#datenschutz-heading {
    background-image: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.06)), url(../img/Banner_Light.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    min-height: 700px;
}

#datenschutz-heading .datenschutz-content {
    color: white;
    padding: 130px 0px; 
}

#datenschutz-heading .datenschutz-content p {
    font-size: 20px; 
}

/* ------ Impressum ------*/

#impressum-heading {
    background-image: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.06)), url(../img/Banner_Light.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    min-height: 700px;
}

#impressum-heading .impressum-content {
    color: white;
    padding: 130px 0px; 
}

#impressum-heading .impressum-content p {
    font-size: 20px; 
    margin-bottom: 20px; 
}

/*------ Footer ------*/

#main-footer {
    background-color: #3A3A3A;
    min-height: 120px;
    padding: 52px; 
}

#main-footer p {
    text-align: center; 
    color: white; 
}

#main-footer p a {
    color: white; 
}

